#cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card {
    width: 10rem;
    border-width: 1px;
    border-color: black;
    border-radius: 25px;
    border-style: dotted;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    cursor: pointer;
    background-color: whitesmoke;
}